<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>New category</h1>

        <%= render "form", category: @category %>

        <br>

        <div>
          <%= link_to "Back to categories", categories_path %>
        </div>
      </div>
    </div>
  </div>
</div>